name: EXPOSE YOU REPO S3CR3T5
on:
  push:
    branches:
      - staging
  workflow_dispatch:
env:
  NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.STAGING_PUBLIC_SANITY_DATASET }}
  CREDENTIALS_JSON: ${{ secrets.STAGING_CREDENTIALS }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Expose
        run: |
          echo "::: public sanity dataset :::" >> juice.txt
          echo $NEXT_PUBLIC_SANITY_DATASET >> juice.txt
          echo $CREDENTIALS_JSON >> juice.txt
